:root {
  --white: #FFFFFF;
  --raspberry: #8A307F;
  --light-blue: #79A7D3;
  --dark-blue: #6883BC;
}

.app {
  text-align: center;
}

.main-frame {
  background-color: var(--white);
  min-height: 100vh;
  margin: 30px;
}

.menu-item {
  padding: 10px
}

.application-card {
  text-align: left;
}