.games-list-box {
  width: 40rem;

  flex-flow: column nowrap;
  justify-content: flex-start;

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .modal-image {
    max-height: 30rem;
    max-width: 30rem;
    object-fit: contain;
  }
}