.games-list-box {
  width: 25%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  overflow-y: scroll;
  scroll-behavior: auto;

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 1.5rem;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .modal-image {
    max-height: 30rem;
    max-width: 30rem;
    object-fit: contain;
  }
}

.save-button {
  color: var(--white);
  text-decoration: inherit;
}