:root {
  --raspberry-rose: #B8336A;
  --space-cadet: #1B264F;
  --azure: #4C7FE6;
  --sandy-brown: #FFA552;
  --black: #000000;
  --white: #FFFFFF;
  --vista-blue: #80A4ED;
  --raisin-black: #1F2433;
  --rich-black: #0A0F1E;
  --gray: #777777;
  --night: #0A0A0A;
  --light-night: #222222;
  --baby-powder: #FBFEF9;
  --paynes-gray: #56667A;
  --penn-red: #92140C;
  --engineering-orange: #BF0603;

  --background: var(--light-night);
  --hub: var(--light-night);
  --card-top: var(--baby-powder);
  --card-bottom: var(--baby-powder);
  --card-shadow: var(--black);
  --card-title: var(--penn-red);
  --card-border-hover: var(--engineering-orange);
  --button: var(--azure);
  --button-hover: var(--vista-blue);

  /*BOTC*/
  --dark-purple: #1A141D;
  --light-purple: #9C94C7;

  --parchment: #F1EEDD;
  --dark-parchment: #E2D4B7;
  --selected-blue: #C1D3DD;
  --hover-blue: #91ACBA;
}

body {
  overflow: hidden;
}

.main-frame {
  background-color: var(--background);
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

input {
  font-size: 1rem;
  margin-right: 0.4rem;
  padding: 0.4rem;
  border-radius:5px;
  border: 1px solid var(--gray);
}