@import "./variables.scss";

.sudoku-main {
  height: 90vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 9*$cell-size;

  padding: 1rem;

  button {
    margin-right: 1rem;
  }
}

.errors {
  color: red;
}