$cell-size: 4rem;

.sudoku-grid {
  display: flex;
  flex-direction: row;
  border: 1px solid black;

  .sudoku-grid-row {
    display: flex;
    flex-direction: column;

    .sudoku-grid-cell {
      display: flex;
      justify-content: center;
      align-items: center;

      height: $cell-size;
      width: $cell-size;
      font-size: (2/3) * $cell-size;
      border: 1px solid black;
    }

    .active-cell {
      background-color: #4C7FE6;
    }

    .cell-bottom-border-bold {
      border-bottom: 2px solid black;
    }

    .cell-right-border-bold {
      border-right: 2px solid black;
    }

    .cell-initial-number {
      font-weight: 900;
    }

    .cell-notes-grid {
      display: flex;
      flex-direction: column;
    }

    .cell-notes-row {
      display: flex;
      flex-direction: row;
    }

    .cell-notes-cell {
      font-size: $cell-size/4;
      font-weight: 500;
      height: $cell-size/4;
      width: $cell-size/4;
    }
  }
}