.hub {
    width: 100%;
    height: 4rem;
    background-color: var(--hub);
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.hub-icon {
    font-size: 2rem;
    color: var(--gray);
}

.hub-icon:hover {
    cursor: pointer;
    color: var(--white);
}

.hub-title {
    color: var(--baby-powder);
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1rem;
}

@media (min-width: 1024px) {
    .hub {
        height: 5rem;
    }

    .hub-title {
        font-size: 1.5rem;
    }
}