h4 {
  margin: 0.3rem;
}

.character-selector {
  margin: 2rem;
  width: 20%;

  background-color: var(--dark-purple);

  display: flex;
  flex-direction: column;
  align-items: center;

  .filter {
    display: flex;
    justify-content: space-around;

    width: 90%;
    color: white;
  }

  .search-bar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;

    .search-input {
      width: 90%;
    }
  }

  .character-list {
    width: 90%;
    overflow: auto;
    background-color: var(--parchment);

    .character {
      height: 1.5rem;
      padding: 0.5rem;

      .additional-info {
        font-size: 0.8rem;
        color: grey;
        font-style: italic;
      }
    }

    .selectable {

    }

    .selectable:hover {
      cursor: pointer;
      background-color: var(--dark-parchment);
    }

    .selected {
      background-color: var(--selected-blue);
    }

    .selected:hover {
      background-color: var(--hover-blue);
    }
  }

  .actions {
    width: 90%;

    display: flex;
    justify-content: center;

    input {
      margin: 1rem;
    }
  }
}