h4 {
  margin: 0.3rem;
}

.character-selector {
  margin: 2rem;
  width: 20%;

  background-color: var(--dark-purple);

  display: flex;
  flex-direction: column;
  align-items: center;

  .filter {
    width: 90%;
    border: 1px solid black;

    color: white;
  }

  .search-bar {
    width: 90%;
    border: 1px solid black;

    .search-input {
      width: 90%;
    }
  }

  .character-list {
    width: 90%;
    border: 1px solid black;
    overflow: auto;
    background-color: var(--parchment);

    .character {
      height: 1.5rem;
      padding: 0.5rem;

      .additional-info {
        font-size: 0.8rem;
        color: grey;
        font-style: italic;
      }
    }

    .selectable {

    }

    .selectable:hover {
      cursor: pointer;
      background-color: var(--dark-parchment);
    }

    .selected {
      background-color: var(--selected-blue);
    }

    .selected:hover {
      background-color: var(--hover-blue);
    }
  }

  .actions {
    height: 5%;
    width: 90%;
    border: 1px solid black;
  }
}