.arcs-main-app {
  margin-top: 5rem;
  height: 100%;
  width: 100%;
}

.new-game-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .n-selection {
    width: 100%;
    margin: 0.5rem 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
      margin-right: 0.5rem;
    }
  }

  .map-selection {
    width: 100%;
    margin: 0.5rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .toggle-button {
      width: 10rem;
      padding: 0.2rem 0.5rem;
      margin: 0.2rem;
    }
  }

  .start-game {
    width: 100%;
    margin: 1rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .toggle-button {
      width: 10rem;
    }
  }
}

.game-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .toggle-button {
    width: 10rem;
    margin: 0.5rem;
  }

  .datetime {
    font-size: 0.7rem;
    margin-bottom: 0.2rem;
  }

  .map-info {
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }

  .lars-selection {
    display: flex;
    flex-direction: row;
  }

  .lars-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .play-card {
      display: flex;
      flex-direction: row;

      margin-top: 1rem;
    }

    .suits {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    .lars-instructions {
      display: flex;
      flex-direction: column;
      scroll-behavior: auto;

      width: 80%;
      margin: 1rem 0;

      .list-item {
        display: flex;
        flex-direction: column;
        margin: 0.2rem 0;

        .item {
          display: flex;
          flex-direction: row;

          span {
            margin-right: 0.5rem;
          }
        }

        .tooltip {
          display: flex;
          font-size: 0.8rem;
          font-style: italic;
          color: #222222;
          margin-right: 0.5rem;
        }
      }

      .toggle-button {
        margin-top: 1rem;
      }
    }
  }
}